<!DOCTYPE html>
<html layout:decorate="~{layouts/commonLayout}" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container mt-3 mb-3">
			<div th:replace="~{fragments/productFormHeader :: productFormHeader(${title})}"></div>
			<form th:action="@{/products/addNew}" th:object="${product}" method="post">
			    <div th:replace="~{fragments/productFormFields :: formFields}"></div>
			</form>
		</div>
	</div>
</body>

</html>