<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/commonLayout}">

<head>
	<title>Products</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container mt-3">
			<div class="card border-0 mb-3">
				<div class="card-body">
					<div class=" row mb-3">
						<div class="col text-center">
							<h2 class="text-secondary" th:text="${title}"></h2>
						</div>
					</div>
					<div class="row">
						<div class="col-auto ml-3 mr-3">
							<a href="/products/newProductForm" class="btn btn-primary" th:text="#{btn.addProduct}"></a>
						</div>
						<div class="col-auto d-flex align-items-center">
							<span class="text-muted" th:text="#{or}"></span>
						</div>
						<div class="col ms-auto">
							<form th:action="@{/products/search}" action="#" method="post" th:object="${searchModel}"
								class="d-flex align-items-center">
								<button type="submit" class="btn btn-primary mr-3" th:text="#{btn.search}"></button>
								<input th:field="*{searchTerm}" type="text" class="form-control" id="searchInput"
									placeholder="Type a word or phrase to search for...">
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="card shadow-sm">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th th:text="#{table.id}"></th>
									<th th:text="#{table.productNumber}"></th>
									<th th:text="#{table.name}"></th>
									<th th:text="#{table.price}"></th>
									<th th:text="#{table.quantity}"></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="product: ${products}">
									<td th:text="${product.id}"></td>
									<td th:text="${product.productNumber}"></td>
									<td th:text="${product.productName}"></td>
									<td th:text="${product.price}"></td>
									<td th:text="${product.quantity}"></td>
									<td>
										<form action="#" th:action="@{/products/editForm/{id}(id=${product.id})}"
											method="post" class="d-inline">
											<button class="btn btn-primary" type="submit"
												name="deleteItem" th:text="#{btn.edit}"></button>
										</form>
										<form action="#" th:action="@{/products/delete/{id}(id=${product.id})}"
											method="post" class="d-inline">
											<input type="hidden" name="_method" value="delete">
											<button class="btn btn-danger" type="submit"
												name="deleteItem" th:text="#{btn.delete}"></button>
										</form>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>